/* Hero Section CSS Start */

.hero-wrapper {
  padding: 200px 0 100px;
  background: var(--secondary);
}

.hero-img img {
  width: 100%;
  min-height: 500px;
  max-height: 500px;
  height: 100%;
  border-radius: 10px;
}

.hero-content {
  position: relative;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 80px 80px 60px 60px;
  margin-left: -120px;
  margin-top: 40px;
  border-radius: 16px;
}

.hero-content h2 {
  position: relative;
  font-size: 48px;
  font-weight: 700;
  color: var(--dark);
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.hero-content h2::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 3px;
  right: 0;
  bottom: 0;
  background: #1c81ca;
}

.left-btn a {
  font-size: 16px;
  color: var(--dark);
}

.left-btn a i {
  font-size: 15px;
  margin-right: 10px;
}

.hero-slider .slick-prev.slick-arrow {
  position: absolute;
  bottom: 90px;
  right: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 8px #00000024;
  border-radius: 100%;
  cursor: pointer;
  z-index: 1;
}

.hero-slider .slick-next.slick-arrow {
  position: absolute;
  bottom: 90px;
  right: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 8px #00000024;
  border-radius: 100%;
  cursor: pointer;
  z-index: 1;
}

/* Hero Section CSS End */

/* Main Part CSS Start */

/* Coaches Index Section CSS Start */

.coaches-index-wrapper {
  padding: 120px 0;
}

.coaches-index-form form {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.coaches-index-form-field {
  max-width: 250px;
  width: 100%;
  margin: 0px 10px;
}

.coaches-index-form-field select,
.coaches-index-form-field input {
  width: 100%;
  font-weight: 500;
  color: var(--dark);
  padding: 10px 20px;
  border: 1px solid #342d2c;
  border-radius: 30px;
}

.coaches-index-form-field select:focus,
.coaches-index-form-field input:focus {
  outline: 0;
}

.coaches-index-button-field button {
  width: 100px;
  color: #ffffff;
  background: var(--primary);
  padding: 12px;
  margin-right: 10px;
  border: none;
  border-radius: 30px;
}

.coaches-index-form ::placeholder {
  color: #bfbfbf;
}

/* Coaches Index Section CSS End */

/* Leading Area Section CSS Start */

.leading-area-btn a {
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
  color: var(--dark);
  background: var(--light);
  padding: 7px 25px;
  border-radius: 30px;
}

.leading-slider .slick-prev.slick-arrow {
  position: absolute;
  left: 35px;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 8px #00000024;
  border-radius: 100%;
  cursor: pointer;
  z-index: 1;
}

.leading-slider .slick-next.slick-arrow {
  position: absolute;
  left: 85px;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 8px #00000024;
  border-radius: 100%;
  cursor: pointer;
  z-index: 1;
}

.leading-see-more-btn a {
  font-size: 18px;
  font-weight: 700;
  color: #f26b5f;
}

.leading-see-more-btn a i {
  font-size: 15px;
  padding-right: 5px;
}

/* Leading Area Section CSS End */

/* Who We Are Section CSS Start */

.who-we-are-wrapper {
  padding: 120px 0;
}

.services-cards {
  padding-top: 120px;
}

.service-card {
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 8px 8px 25px #00000016;
  padding: 60px;
  border-radius: 16px;
}

.service-card h4 {
  font-size: 42px;
  font-weight: 600;
}

.service-card h5 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
  margin: 0;
}

/* Who We Are Section CSS End */

/* Commitee Section CSS Start */

.commitee-chairman-info {
  display: flex;
  background: var(--light);
  border: 3px solid var(--gray);
  margin-top: 60px;
  border-radius: 16px;
}

.commitee-chairman-img {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray);
}

.commitee-chairman-img img {
  max-width: 265px;
  width: 265px;
  height: 265px;
  border-radius: 100%;
}

.commitee-chairman-content {
  flex: 1;
  padding: 50px;
}

.commitee-chairman-content h5 {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark);
}

.commitee-chairman-content h6 {
  font-size: 20px;
  color: var(--dark);
  margin: 0;
}

.commitee-chairman-content span {
  display: block;
  font-size: 18px;
  color: var(--dark);
  margin-bottom: 20px;
}

.continue-reading-btn a {
  color: var(--primary);
}

.continue-reading-btn a i {
  font-size: 15px;
  margin-right: 8px;
}

.commitee-members {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 25px;
}

.commitee-member-card {
  max-width: 400px;
  width: 100%;
  height: 100%;
  justify-self: center;
  text-align: center;
  background: var(--light);
  border: 3px solid var(--gray);
  border-radius: 16px;
  overflow: hidden;
}

.commitee-member-card-img {
  padding-top: 30px;
  margin-bottom: -40px;
}

.commitee-member-card-content {
  width: 100%;
  height: 100%;
  background: var(--gray);
  padding: 60px 10px 0;
  border-radius: 0px 0px 16px 16px;
}

.commitee-member-card-content h5 {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark);
}

/* Commitee Section CSS End */

/* Main Part CSS End */

/* Responsive CSS */

@media (min-width: 1200px) and (max-width: 1399px) {
  .hero-content {
    margin-top: 30px;
    padding: 60px;
  }

  .hero-content h2 {
    font-size: 42px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-content {
    margin-top: 30px;
    padding: 40px 30px;
  }

  .hero-content h2 {
    font-size: 36px;
  }

  .hero-img img {
    min-height: 430px;
    max-height: 430px;
    height: 100%;
  }

  .hero-slider .slick-prev.slick-arrow,
  .hero-slider .slick-next.slick-arrow {
    bottom: 55px;
  }

  .service-card h4 {
    font-size: 34px;
  }

  .commitee-chairman-img {
    max-width: 360px;
  }

  .commitee-members {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-title h2 {
    font-size: 36px;
  }

  .hero-content {
    margin-top: 30px;
    padding: 40px 30px;
    margin-left: 0;
  }

  .hero-content h2 {
    font-size: 36px;
  }

  .hero-img img {
    min-height: 430px;
    max-height: 430px;
    height: 100%;
  }

  .hero-slider .slick-prev.slick-arrow,
  .hero-slider .slick-next.slick-arrow {
    bottom: 35px;
  }

  .service-card h4 {
    font-size: 32px;
  }

  .commitee-chairman-info {
    flex-direction: column;
  }

  .commitee-chairman-img {
    max-width: 100%;
    padding: 40px 0;
  }

  .commitee-members {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .section-title h2 {
    font-size: 32px;
  }

  .hero-content {
    margin-top: 30px;
    padding: 40px 20px;
    margin-left: 0;
  }

  .hero-content h2 {
    font-size: 28px;
  }

  .hero-img img {
    min-height: 250px;
    max-height: 250px;
    height: 100%;
  }

  .hero-slider .slick-prev.slick-arrow,
  .hero-slider .slick-next.slick-arrow {
    bottom: 35px;
  }

  .hero-slider .slick-prev.slick-arrow {
    right: 70px;
  }

  .hero-slider .slick-next.slick-arrow {
    right: 20px;
  }

  .coaches-index-form form {
    flex-direction: column;
  }

  .coaches-index-form-field {
    max-width: 300px;
  }

  .service-card1 {
    padding: 60px 30px;
  }

  .service-card h4 {
    font-size: 28px;
  }

  .commitee-chairman-info {
    flex-direction: column;
  }

  .commitee-chairman-img {
    max-width: 100%;
    padding: 40px 0;
  }

  .commitee-chairman-content {
    padding: 50px 20px;
  }

  .commitee-members {
    grid-template-columns: repeat(1, 1fr);
  }
}
